In [3]:
import pandas as pd
df = pd.read_csv('data/ethiopia.csv', delimiter=';')

df.head()

                                      -BEGIN HEADER-
0    NASA/POWER Source Native Resolution Daily Data
1  Dates (month/day/year): 01/01/2022 through 12/...
2        Location: latitude  9.03   longitude 38.74
3  elevation from MERRA-2: Average for 0.5 x 0.62...
4  The value for missing source data that cannot ...

In [4]:
df.describe()
df.isna().sum()

-BEGIN HEADER-    0
dtype: int64

In [8]:
# Inspect the first few lines to find the correct header row
with open('data/ethiopia.csv') as f:
    for i in range(15):
        print(i, f.readline().strip())

# After inspecting, set the correct header row (e.g., header=10 if the real header is at line 11).
# The file uses a comma as the delimiter and the header row is set to line 11 (header=10) based on inspection.
df = pd.read_csv('data/ethiopia.csv', delimiter=',', header=10)

from scipy.stats import zscore

for col in ['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'WS', 'WSgust']:
    if col in df.columns:
        df['z_' + col] = zscore(df[col])
        print(col, "outliers:", (df['z_' + col].abs() > 3).sum())
    else:
        print(f"Column '{col}' not found in dataframe.")

0 -BEGIN HEADER-
1 NASA/POWER Source Native Resolution Daily Data
2 Dates (month/day/year): 01/01/2022 through 12/31/2023 in LST
3 Location: latitude  9.03   longitude 38.74
4 elevation from MERRA-2: Average for 0.5 x 0.625 degree lat/lon region = 2349.69 meters
5 The value for missing source data that cannot be computed or is outside of the sources availability range: -999
6 parameter(s):
7 ALLSKY_SFC_SW_DWN     CERES SYN1deg All Sky Surface Shortwave Downward Irradiance (kW-hr/m^2/day)
8 T2M                   MERRA-2 Temperature at 2 Meters (C)
9 RH2M                  MERRA-2 Relative Humidity at 2 Meters (%)
10 -END HEADER-
11 YEAR,MO,DY,ALLSKY_SFC_SW_DWN,T2M,RH2M
12 2022,1,1,5.19,15.05,61.54
13 2022,1,2,4.28,16.5,61.13
14 2022,1,3,4.79,14.72,76.46
Column 'GHI' not found in dataframe.
Column 'DNI' not found in dataframe.
Column 'DHI' not found in dataframe.
Column 'ModA' not found in dataframe.
Column 'ModB' not found in dataframe.
Column 'WS' not found in dataframe.
Column 'WSgust' not found in dataframe.

In [10]:
df = df.fillna(df.median(numeric_only=True))

In [11]:
df.to_csv('data/ethiopia.csv', index=False)

In [12]:
import matplotlib.pyplot as plt
import seaborn as sns